
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment-with-locales.min.js"></script>
<script src="https://js.braintreegateway.com/web/3.22.2/js/client.js"></script>
<script src="https://js.braintreegateway.com/web/3.22.2/js/hosted-fields.js"></script>
 <script src="/js/main.js"></script>
    </body>
</html>