
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
 <script src="/js/main.js"></script>
   <script type="text/javascript">
       var options = {
        valueNames: [ 'lname', 'fname']
       };

    var clientList = new List('client-names', options);
</script>
    </body>
</html>