<!DOCTYPE html>
<html>
    <head>
        <title>Sign/login Page</title>
          <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    </head>
    <body>

    <div class="signup-back">
        <div class="app-container">
        <div class="app-title">
              <h1 class="app-header text-center">Client Tracker</h1>
            </div>
        </div>

        <div class="signup">

              <div class="option-content">
                   <div id="signup">
                      <h1 class="text-center signup-header">Sign Up To Get Started</h1>

                    <form action="/register" method="POST" class="form-inline signup-form">
                        <div class="form-group">
                            <input type="text" class="form-control" name="fistName" id="firstName" placeholder="First Name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Last Name">
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="text" class="form-control" name="email" placeholder="Email">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" name="username" placeholder="User Name">
                        </div>
                        <br>
                        <div class="form-group pass">
                            <input type="text" class="form-control" name="password" placeholder="Password">
                        </div>
                        <br>
                         <button type="submit" class="btn btn-default signUp-btn">Sign Up</button>
                    </form>
                    </div>

              </div>
        </div>

    </div>

<% include partials/footer %>
